<div class="panel callout radius">
    <h6>
        {{ make.name }} {{ model.name }}
    </h6>
</div>

<div class="row">
    {% for note in notes %}
        <div class="large-4 small-6 columns">
            <div class="panel">
                <h5>{{ note.title }}</h5>
                <h6 class="subheader">priorytet: {{ note.priority }}</h6>
                {{ note.text }}
                <div>
                    <a href="{{ path("edit_note", {"note": note.id}) }}" data-reveal-id="modal" class="tiny button" data-reveal-ajax="true">Edytuj notatkę</a>
                    <a href="{{ path("delete_note", {"note": note.id, "model": model.id}) }}" data-reveal-id="modal" class="tiny button" data-reveal-ajax="true">Usuń notatkę</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<a href="{{ path("new_note", {"make": make.id, "model": model.id}) }}" data-reveal-id="modal" class="medium button" data-reveal-ajax="true">Dodaj nową notatkę</a>
<div id="modal" class="reveal-modal" data-reveal>&nbsp;</div>